<a class="overlayAnchor" href="#"></a>
<img src="../../../../../../assets/images/full-banner.jpg" alt="Full banner">
<div class="bannerDetails">
    <ul>
        <li class="col leftCol">
            <div class="content">
                <h3>Example of the day</h3>
                <p>17-11-1018</p>
            </div>
            <button mat-raised-button color="primary">View</button>
        </li>
        <li class="col midCol">
            <h1>Load images faster with <span class="blur">blur</span> effect</h1>
            <p>Make your webpage faster in loading, <br />and give a blur style loading, on all images on webpage.</p>
            <div class="techUsed">
                <h3>Technology</h3>
                <ul>
                    <li>Canvas</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </li>
        <li class="col rightCol"></li>
    </ul>
</div>