<div class="sidebarConWrap">
    <mat-list>
        <mat-list-item class="heading">
            <a>
                <i class="material-icons">filter_list</i>
                <span>All Categoties</span>
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <a class="activeTab" routerLink="/admin/login">
                <i class="material-icons">receipt</i>
                <span>All Posts</span>
            </a>
        </mat-list-item>
        <mat-list-item>
            <a>
                <i class="material-icons">file_copy</i>
                <span>update Post</span>
            </a>
        </mat-list-item>
        <mat-list-item>
            <a routerLink="/admin/login">
                <i class="material-icons">add_box</i>
                <span>Add Post</span>
            </a>
        </mat-list-item>
        <mat-list-item>
            <a>
                <i class="material-icons">videocam</i>
                <span>Youtube videos</span>
            </a>
        </mat-list-item>
    </mat-list>
</div>