.heading {
    .mat-icon {
        margin: auto 0 auto auto;
    }
    a {
        font-size: 18px;
        line-height: 28px;
        color: #3f51b5;
        .material-icons {
            color: inherit;
        }
        &:hover {
            background: none;
        }
    }
}

.mat-divider {
    margin-bottom: 15px;
}

.material-icons {
    margin-right: 15px;
}

.mat-list-item {
    margin-bottom: 10px;
}

a {
    border-radius: 3px;
    color: #3c4858;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 15px;
    flex: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    .material-icons {
        color: #a9afbb;
    }
    &:hover {
        background: rgba(200, 200, 200, .2);
    }
    &.activeTab {
        background: #f44336;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
        color: #fff;
        .material-icons {
            color: inherit;
        }
    }
}