<div class="sidebarConWrap">
    <mat-list class="heading titleHeading">
        <mat-list-item>
            <a>
                <i class="material-icons">filter_list</i>
                <span>All Categoties</span>
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <a routerLink="/admin/dashboard" [ngClass]="{'activeTab': activeTab === 'dashboard'}">
                <i class="material-icons">dashboard</i>
                <span>Dashboard</span>
            </a>
        </mat-list-item>
    </mat-list>
    <div class="list" *ngFor="let keys of sideBarLinks[0] | keyvalue">
        <mat-list class="heading">
            <mat-divider></mat-divider>
            <mat-list-item>
                <a>
                    <i class="material-icons">person</i>
                    <span>{{keys.key}}</span>
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <mat-list *ngFor="let data of keys.value">
            <mat-list-item>
                <a routerLink="{{ data.url }}" [ngClass]="{'activeTab': activeTab === data.url}">
                    <i class="material-icons">{{ data.icon }}</i>
                    <span>{{ data.text }}</span>
                </a>
            </mat-list-item>
        </mat-list>
    </div>
</div>