header {
    padding: 10px 20px;
    display: flex;
    color: #fff;
    height: 58px;
    box-sizing: border-box;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.logo {
    color: inherit;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    text-transform: lowercase;
    span {
        font-weight: 300;
        font-size: 1rem;
    }
}

.sidebarAnchor {
    transform: rotate(0);
    transition: transform ease-out .3s;
    &.active {
        transform: rotate(90deg);
    }
}