<div class="sidebarContent">
    <div class="sidebarHeaderCon" [ngClass]="{'active': sidebarVisible}" (click)="navigateTo('homepage')">
        <img src="../../../../../../assets/images/uidhtml-logo-60x60.png" alt="Uidhtml logo">
        <h1>UIDHTML<span>Free HTML, CSS and javascript examples</span></h1>
    </div>
    <ul>
        <li><a href="http://uidhtml.com/example-list/slideshows-and-scroller" title="Slideshows and scroller examples"><i class="material-icons">keyboard_arrow_right</i>slideshows
      and scroller</a></li>
        <li><a href="http://uidhtml.com/example-list/dom" title="Dom examples"><i class="material-icons">keyboard_arrow_right</i>dom</a></li>
        <li><a href="http://uidhtml.com/example-list/tooltip" title="Tooltip examples"><i class="material-icons">keyboard_arrow_right</i>tooltip</a></li>
        <li><a href="http://uidhtml.com/example-list/tabbing" title="Tabbing examples"><i class="material-icons">keyboard_arrow_right</i>tabbing</a></li>
        <li><a href="http://uidhtml.com/example-list/accordion" title="Accordion examples"><i class="material-icons">keyboard_arrow_right</i>accordion</a></li>
        <li><a href="http://uidhtml.com/example-list/general" title="General examples"><i class="material-icons">keyboard_arrow_right</i>general</a></li>
        <li><a href="http://uidhtml.com/example-list/form" title="Form examples"><i class="material-icons">keyboard_arrow_right</i>form</a></li>
        <li><a href="http://uidhtml.com/example-list/pseudo" title="Pseudo examples"><i class="material-icons">keyboard_arrow_right</i>pseudo</a></li>
        <li><a href="http://uidhtml.com/example-list/window" title="Window examples"><i class="material-icons">keyboard_arrow_right</i>window</a></li>
        <li><a href="http://uidhtml.com/example-list/content-level" title="Content level examples"><i class="material-icons">keyboard_arrow_right</i>content level</a></li>
        <li><a href="http://uidhtml.com/example-list/css-animation" title="Css animation examples"><i class="material-icons">keyboard_arrow_right</i>css animation</a></li>
        <li><a href="http://uidhtml.com/example-list/menu-and-navigation" title="Menu and navigation examples"><i class="material-icons">keyboard_arrow_right</i>menu and
      navigation</a></li>
        <li><a href="http://uidhtml.com/example-list/keyboard-event" title="Keyboard event examples"><i class="material-icons">keyboard_arrow_right</i>keyboard event</a></li>
        <li><a href="http://uidhtml.com/example-list/image-effect" title="Image effect examples"><i class="material-icons">keyboard_arrow_right</i>image effect</a></li>
        <li><a href="http://uidhtml.com/example-list/hardware-access" title="Hardware access examples"><i class="material-icons">keyboard_arrow_right</i>hardware access</a></li>
        <li><a href="http://uidhtml.com/example-list/htaccess" title="Htaccess examples"><i class="material-icons">keyboard_arrow_right</i>htaccess</a></li>
        <li><a href="http://uidhtml.com/example-list/drag-drop" title="Drag drop examples"><i class="material-icons">keyboard_arrow_right</i>drag drop</a></li>
        <li><a href="http://uidhtml.com/example-list/popup" title="Popup examples"><i class="material-icons">keyboard_arrow_right</i>popup</a></li>
        <li><a href="http://uidhtml.com/example-list/Mouse-Event" title="Mouse Event examples"><i class="material-icons">keyboard_arrow_right</i>Mouse Event</a></li>
    </ul>
</div>