@media screen and (max-width: 1367px) {
  h2 {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 1366px) {
  h2 {
    font-size: 1.625rem;
    line-height: 2.375rem;
  }
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.24rem;
    line-height: 1.75rem;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  h2 {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
