.mat-card {
    padding: 10px;
}

.mat-card-header {
    display: flex;
    justify-content: space-between;
}

.mat-card-title,
.mat-card-subtitle {
    font-weight: 100;
    text-align: right;
}

.mat-card-title {
    font-size: 2rem;
    color: #3c4858;
    font-weight: 100;
    display: block;
}

.mat-card-subtitle {
    font-size: 1rem;
    color: #999;
}

app-label-button {
    margin-top: -28px;
    order: -1;
}

.mat-card-footer {
    border-top: solid 1px #eee;
    margin: 0;
    padding-top: 10px;
    display: flex;
    align-items: center;
    .material-icons {
        font-size: 15px;
        margin-right: 5px;
    }
    span {
        font-size: 11px;
    }
}