.formContainer {
    .mat-card {
        .mat-card-content {
            padding: 0;
        }
        .mat-card-footer {
            margin: 0 -20px -20px;
            padding: 10px 0;
            background: #f7f7f7;
            display: flex;
            justify-content: center;
            button {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.formElementCon {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.fileTypeInputWrapper {
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
    .fileTypeWrapper {
        .mat-form-field {
            margin-right: 10px;
            width: 100%;
        }
        .fileType {
            &.grid {
                grid-gap: 20px;
                grid-template-columns: 1fr auto;
            }
            .mat-form-field {
                height: 40px;
            }
        }
    }
    .inputAndErrorWrapper {
        .mat-error {
            font-size: 75%;
        }
    }
}

.postBody {
    grid-column: 1 / 3;
}

.previewCon {
    border: solid 1px #eee;
    margin-top: 20px;
    padding: 10px;
    max-width: 150px;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

#zipFormControl {
    display: none;
}

.postDateCon {
    margin-top: 20px;
}

textarea {
    width: 100%;
    border: 0;
    padding: 20px 40px 20px 20px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    &[formControlName="htmlCode"] {
        background: #e34f26 url('../../../../../../../assets/images/html5-icon.png') right top no-repeat;
        color: #fff;
    }
    &[formControlName="cssCode"] {
        background: #1572b6 url('../../../../../../../assets/images/css3-icon.png') right top no-repeat;
        color: #fff;
    }
    &[formControlName="javascriptCode"] {
        background: #f0db4f url('../../../../../../../assets/images/javascript-icon.png') right top no-repeat;
        color: #333;
    }
    &[formControlName="angularCode"] {
        background: #ec494e url('../../../../../../../assets/images/angular-icon.png') right top no-repeat;
        color: #fff;
    }
    &[formControlName="jqueryCode"] {
        background: #343434;
        color: #fff;
    }
    &[formControlName="typescriptCode"] {
        background: #007acc;
        color: #fff;
    }
    &[formControlName="phpCode"] {
        background: #8b92c0;
        color: #fff;
    }
}