<form novalidate [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="formContainer">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>
                        <a mat-mini-fab disableRipple>{{total_record_in_table}}</a>Add Post</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="formElementCon grid">
                    <mat-form-field>
                        <input matInput placeholder="Title" formControlName="title">
                        <mat-error>
                            Please specify title of post
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Add few words about post" formControlName="description">
                        <mat-error>
                            Please add short description for post
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Language used (HTML, CSS, jQuery.. etc)" formControlName="langUsed">
                        <mat-error>
                            Please specify language used?
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Type of post (Tabbing, Accordion.. etc)" formControlName="postType">
                        <mat-error>
                            Which type of post it is?
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Youtube Video Id" formControlName="youtubeVideoId">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Meta Title" formControlName="metaTitle">
                        <mat-error>
                            Meta tilte should not be left blank.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Meta description" formControlName="metaDesc">
                        <mat-error>
                            Meta Description should not be left blank.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Keywords" formControlName="keywords">
                        <mat-error>
                            How visitor with search you?
                        </mat-error>
                    </mat-form-field>
                    <div class="fileTypeInputWrapper">
                        <div class="fileTypeWrapper">
                            <div class="fileType grid">
                                <div class="inputAndErrorWrapper">
                                    <mat-form-field>
                                        <input #showImageName value="" matInput placeholder="Name of JPEG file" disabled>
                                    </mat-form-field>
                                    <mat-error *ngIf="imageError">{{ imageErrorData }}</mat-error>
                                </div>
                                <button mat-raised-button color="primary" (click)="browseFile($event)">Browse JPEG</button>
                                <input type="file" id="imageFileField" hidden (change)="setTypeFileValToFormControl($event)" accept=".jpg, .jpeg, .png, .gif" formControlName="image">
                            </div>
                            <div class="previewCon"><img #previewImage src="../../../../../../../assets/images/upload-image-icon.png"> </div>
                        </div>
                    </div>
                    <div class="fileTypeInputWrapper">
                        <div class="fileTypeWrapper">
                            <div class="fileType grid">
                                <div class="inputAndErrorWrapper">
                                    <mat-form-field>
                                        <input #showZipName value="" matInput placeholder="Name of .ZIP file" disabled>
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button color="accent" (click)="browseFile($event)">Browse ZIP</button>
                                <input type="file" #showZipField id="zipFileField" hidden (change)="setTypeFileValToFormControl($event)" accept=".zip">
                            </div>
                            <mat-form-field class="postDateCon">
                                <input matInput placeholder="Post Creation date" value="{{ form.controls['createdDate'].value | date: 'dd/MM/yyyy' }}" disabled>
                                <input hidden formControlName="createdDate">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Status of Post" formControlName="status">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="postBody">
                        <h2>Body</h2>
                        <app-ck-editor [ckeditorContent]="form.controls['body'].value" (bodyContent)="getBodyContent($event)"></app-ck-editor>
                    </div>
                    <div class="html_code">
                        <h2>HTML Code</h2>
                        <textarea formControlName="htmlCode" cols="30" rows="10" value="form.controls['htmlCode'].value" (input)="getExampleCode($event)"></textarea>
                    </div>
                    <div class="css_code">
                        <h2>CSS Code</h2>
                        <textarea formControlName="cssCode" cols="30" rows="10" value="form.controls['cssCode'].value" (input)="getExampleCode($event)"></textarea>
                    </div>
                    <div class="javascript_code">
                        <h2>Javascript Code</h2>
                        <textarea formControlName="javascriptCode" cols="30" rows="10" value="form.controls['javascriptCode'].value" (input)="getExampleCode($event)"></textarea>
                    </div>
                    <div class="angular_code">
                        <h2>Angular Code</h2>
                        <textarea formControlName="angularCode" cols="30" rows="10" value="form.controls['angularCode'].value" (input)="getExampleCode($event)"></textarea>
                    </div>
                    <div class="jquery_code">
                        <h2>jQuery Code</h2>
                        <textarea formControlName="jqueryCode" cols="30" rows="10" value="form.controls['jqueryCode'].value" (input)="getExampleCode($event)"></textarea>
                    </div>
                    <div class="typescript_code">
                        <h2>Typescript Code</h2>
                        <textarea formControlName="typescriptCode" cols="30" rows="10" value="form.controls['typescriptCode'].value" (input)="getExampleCode($event)"></textarea>
                    </div>
                    <div class="php_code">
                        <h2>PHP Code</h2>
                        <textarea formControlName="phpCode" cols="30" rows="10" value="form.controls['phpCode'].value" (input)="getExampleCode($event)"></textarea>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-footer>
                <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
                <button mat-raised-button color="warn">Reset</button>
            </mat-card-footer>
            <p>{{ form.value | json}}<br /><br />{{form.status}}</p>
        </mat-card>
    </div>
</form>