body {
    background: #eee;
}

h2 {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Slabo 27px', serif;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Open Sans Condensed', sans-serif;
}

.frontendMainView {
    width: 100vw;
    margin: auto 0 auto auto;
    transition: width cubic-bezier(0, .49, .26, .94) .4s;
    &.active {
        width: calc(100vw - 320px);
    }
}

app-header {
    position: fixed;
    z-index: 4;
    width: inherit;
    top: 0;
    display: block;
}

app-sidebar {
    display: block;
    width: 320px;
    background: #0c141de6;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 5;
    transform: translateX(0);
    transition: transform cubic-bezier(0, .49, .26, .94) .4s;
    // box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    &.active {
        transform: translateX(100%);
    }
}

.innerWrapper {
    padding: 40px;
}